# 请保留原始版本 configuration.yaml 中内容，并在之下添加如下配置
# 注意替换三处 <your location> 和 <your key> ，此处不要保留尖括号，<>不会出现在链接中

sensor:
  - platform: rest
    name: HF Weather # 实时天气信息接口
    json_attributes:
      - now
    scan_interval: 900
    value_template: "{{ value_json['now']['text'].title() }}"
    icon: "mdi:white-balance-sunny"
    resource: https://devapi.qweather.com/v7/weather/now?location=<your location>&key=<your key>  # <your location> 使用你的经纬度替换，<your key> 使用你申请的api key替换
    
  - platform: rest
    name: HF Aqi  # 实时空气质量信息接口
    json_attributes:
      - now
    scan_interval: 1200
    value_template: "{{ value_json['now']['category'].title() }}"
    icon: "mdi:air-filter"
    resource: https://devapi.qweather.com/v7/air/now?location=<your location>&key=<your key>  # <your location> 使用你的经纬度替换，<your key> 使用你申请的api key替换
    
  - platform: rest
    name: HF Forecast  # 三天预报接口
    json_attributes:
      - daily
    scan_interval: 7200
    value_template: "{{ value_json['code'].title() }}"
    # icon: "mdi:air-filter"
    resource: https://devapi.qweather.com/v7/weather/3d?location=<your location>&key=<your key>  # <your location> 使用你的经纬度替换，<your key> 使用你申请的api key替换
    

template:
# ---------------- data from HF weather ---------------- #
- weather:
  - name: HeFeng Weather Station
    condition_template: '{{ states(''sensor.hf_condition'') }}'
    temperature_template: '{{ states(''sensor.hf_temp'') | int }}'
    temperature_unit: °C
    humidity_template: '{{ states(''sensor.hf_humidity'') | int }}'
    precipitation_unit: mm
    visibility_template: '{{ states(''sensor.hf_visibility'') | int }}'
    visibility_unit: km
    pressure_template: '{{ states(''sensor.hf_pressure'') | int }}'
    pressure_unit: hPa
    wind_speed_template: '{{ states(''sensor.hf_wind_speed'') | int }}'
    wind_speed_unit: km/h
    wind_bearing_template: '{{ states(''sensor.hf_wind_bearing'') | int }}'
    ozone_template: '{{ states(''sensor.hf_aqi_o3'') | int }}'
    forecast_daily_template: >-
        {% set icon_cond_mapper = {'100': 'sunny', '101': 'partlycloudy', '102': 'partlycloudy', '103': 'partlycloudy', '104': 'cloudy', '150': 'clear-night', '151': 'partlycloudy', '152': 'partlycloudy', '153': 'partlycloudy', '154': 'cloudy', '300': 'rainy', '301': 'rainy', '302': 'lightning-rainy', '303': 'lightning-rainy', '304': 'hail', '305': 'rainy', '306': 'rainy', '307': 'extreme-rain', '308': 'extreme-rain', '309': 'rainy', '310': 'extreme-rain', '311': 'extreme-rain', '312': 'extreme-rain', '313': 'rainy', '314': 'rainy', '315': 'rainy', '316': 'extreme-rain', '317': 'extreme-rain', '318': 'extreme-rain', '350': 'rainy', '351': 'extreme-rain', '399': 'rainy', '400': 'snowy', '401': 'snowy', '402': 'heavy-snow', '403': 'heavy-snow', '404': 'snowy-rainy', '405': 'snowy-rainy', '406': 'snowy-rainy', '407': 'rainy', '408': 'rainy', '409': 'rainy', '410': 'heavy-snow', '456': 'snowy-rainy', '457': 'rainy', '499': 'rainy', '500': 'fog', '501': 'fog', '502': 'fog', '503': 'exceptional', '504': 'exceptional', '507': 'exceptional', '508': 'exceptional', '509': 'fog', '510': 'fog', '511': 'fog', '512': 'fog', '513': 'fog', '514': 'fog', '515': 'fog', '900': 'exceptional', '901': 'exceptional', '999': 'exceptional'} %}
          {% set fc_data =  state_attr('sensor.hf_forecast', 'daily') %}
          {% macro fc_mapper() %}
            {%- for fc in fc_data -%}
                {%- if not loop.first %};{% endif %} 
                {{ dict(datetime=fc['fxDate'], 
                        condition=icon_cond_mapper[ fc['iconDay'] ] if fc['iconDay'] in icon_cond_mapper else 'Unknown', 
                        native_temperature=fc['tempMax'] | int, 
                        native_templow=fc['tempMin'] | int,
                        native_precipitation=fc['precip'] | float,
                        native_pressure=fc['pressure'] | int,
                        native_wind_speed=fc['windSpeedDay'] | int,
                        wind_bearing=fc['wind360Day'] | int
                      ) | tojson }}
            {%- endfor %}
          {% endmacro %}
          {{ fc_mapper().strip().split(';') | map('from_json') | list }}
          
- sensor:
  - default_entity_id: sensor.hf_condition  # 天气状态
    name: Outside condition
    state: >-
          {% set mapper =  {'100': 'sunny', '101': 'partlycloudy', '102': 'partlycloudy', '103': 'partlycloudy', '104': 'cloudy', '150': 'clear-night', '151': 'partlycloudy', '152': 'partlycloudy', '153': 'partlycloudy', '154': 'cloudy', '300': 'rainy', '301': 'rainy', '302': 'lightning-rainy', '303': 'lightning-rainy', '304': 'hail', '305': 'rainy', '306': 'rainy', '307': 'extreme-rain', '308': 'extreme-rain', '309': 'rainy', '310': 'extreme-rain', '311': 'extreme-rain', '312': 'extreme-rain', '313': 'rainy', '314': 'rainy', '315': 'rainy', '316': 'extreme-rain', '317': 'extreme-rain', '318': 'extreme-rain', '350': 'rainy', '351': 'extreme-rain', '399': 'rainy', '400': 'snowy', '401': 'snowy', '402': 'heavy-snow', '403': 'heavy-snow', '404': 'snowy-rainy', '405': 'snowy-rainy', '406': 'snowy-rainy', '407': 'rainy', '408': 'rainy', '409': 'rainy', '410': 'heavy-snow', '456': 'snowy-rainy', '457': 'rainy', '499': 'rainy', '500': 'fog', '501': 'fog', '502': 'fog', '503': 'exceptional', '504': 'exceptional', '507': 'exceptional', '508': 'exceptional', '509': 'fog', '510': 'fog', '511': 'fog', '512': 'fog', '513': 'fog', '514': 'fog', '515': 'fog', '900': 'exceptional', '901': 'exceptional', '999': 'exceptional'} %}
          {% set icon =  state_attr('sensor.hf_weather', 'now')['icon'] %}
          {{ mapper[icon] if icon in mapper else 'Unknown' }}

- sensor:
  - device_class: TEMPERATURE
    unit_of_measurement: °C
    default_entity_id: sensor.hf_temp  # 温度
    name: Outside temp
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''temp''] | int }}'

- sensor:
  - device_class: TEMPERATURE
    unit_of_measurement: °C
    default_entity_id: sensor.hf_temp_feels  # 体感
    name: Outside temp feels
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''feelsLike''] | int }}'
    
- sensor:
  - unit_of_measurement: °C
    default_entity_id: sensor.hf_dew_point  # 露点
    icon: mdi:thermometer-water
    name: Outside dew point
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''dew''] | int }}'
    
- sensor:
  - device_class: PRESSURE
    unit_of_measurement: hPa
    default_entity_id: sensor.hf_pressure  # 气压
    name: Outside pressure
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''pressure''] | int }}'
    
- sensor:
  - device_class: HUMIDITY
    unit_of_measurement: '%'
    default_entity_id: sensor.hf_humidity  # 湿度
    name: Outside humidity
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''humidity''] | int }}'
    
- sensor:
  - unit_of_measurement: mm
    default_entity_id: sensor.hf_precipitation  # 预期降水
    icon: mdi:weather-rainy
    name: Outside precipitation
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''precip''] | float }}'

- sensor:
  - unit_of_measurement: Km/h
    default_entity_id: sensor.hf_wind_speed  # 风速
    icon: mdi:weather-windy
    name: Outside wind speed
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''windSpeed''] | int }}'
    
- sensor:
  - default_entity_id: sensor.hf_wind_direction  # 风向
    icon: mdi:windsock
    name: Outside wind direction
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''windDir''] }}'
    
- sensor:
  - default_entity_id: sensor.hf_wind_bearing  # 风向角
    icon: mdi:windsock
    name: Outside wind bearing
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''wind360''] }}'
    
- sensor:
  - unit_of_measurement: BfL
    default_entity_id: sensor.hf_wind_scale  # 风力等级
    icon: mdi:weather-windy
    name: Outside wind scale
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''windScale''] | int }}'
    
- sensor:
  - unit_of_measurement: Km
    default_entity_id: sensor.hf_visibility  # 能见度
    icon: mdi:eye
    name: Outside visibility
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''vis''] | int }}'
    
- sensor:
  - unit_of_measurement: '%'
    default_entity_id: sensor.hf_cloud_cover  # 云量
    icon: mdi:cloud
    name: Outside cloud cover
    state: '{{ state_attr(''sensor.hf_weather'', ''now'')[''cloud''] | int }}'

# ---------------- data from HF weather AQI ---------------- #

- sensor:
  - device_class: AQI
    default_entity_id: sensor.hf_aqi_index  # 空气质量指数
    name: Outside aqi index
    state: '{{ state_attr(''sensor.hf_aqi'', ''now'')[''aqi''] | int }}'
    
- sensor:
  - device_class: AQI
    unit_of_measurement: Lvl
    default_entity_id: sensor.hf_aqi_level  # 空气质量等级
    name: Outside aqi level
    state: '{{ state_attr(''sensor.hf_aqi'', ''now'')[''level''] | int }}'
    
- sensor:
  - default_entity_id: sensor.hf_aqi_primary  # 主要污染物
    icon: mdi:weather-dust
    name: Outside aqi primary
    state: '{{ state_attr(''sensor.hf_aqi'', ''now'')[''primary''] }}'
    
- sensor:
  - device_class: PM10
    unit_of_measurement: µg/m³
    default_entity_id: sensor.hf_aqi_pm10  # PM10
    name: Outside aqi pm10
    state: '{{ state_attr(''sensor.hf_aqi'', ''now'')[''pm10''] | int }}'
    
- sensor:
  - device_class: PM25
    unit_of_measurement: µg/m³
    default_entity_id: sensor.hf_aqi_pm2p5  # PM2.5
    name: Outside aqi pm2.5
    state: '{{ state_attr(''sensor.hf_aqi'', ''now'')[''pm2p5''] | int }}'
    
- sensor:
  - device_class: OZONE
    unit_of_measurement: ppm
    default_entity_id: sensor.hf_aqi_o3   # 臭氧
    name: Outside aqi o3
    state: '{{ state_attr(''sensor.hf_aqi'', ''now'')[''o3''] | int }}'
    
# ---------------------- all sensors done edited according to ver. 2026.06 ------------------ #
